.dashboard-paginate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pagination a {
  display: flex;
  padding: 8px 16px;
  text-decoration: none;
}
.actived {
  background: #0069D9;
  color: #fff;
}
.size-changer {
  padding: 10px;
  border-radius: 5px;
}