table, td, th, tr {
  border: 1px solid #817e7e;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead tr {
  background: #c9c7c7;
}
td, th {
  text-align: center;
}
.table-action {
  color: #000000;
}
@media only screen and (min-width: 768px) {
  table {
    margin-bottom: 20px;
  }
  table tr th, table tr td {
    font-size: 17px;
  }
  td, th {
    padding: 10px;
  }
  .table-action {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  table {
    margin-bottom: 20px;
  }
  table tr th, table tr td {
    font-size: 11px;
  }
  td, th {
    padding: 5px;
  }
  .table-action {
    margin-right: 2px;
    margin-left: 2px;
  }
}